logs/
upload/
public/
npm-debug.log
yarn-error.log
node_modules/
app/sourcemaps/
app/view/*
!app/view/README.md
coverage/
.tmp/
.idea/
.vscode/
config/manifest.json
manifest.json
.deployrc
.DS_Store
*.log
*.sw*
*.un~
*.rdb
.travis.yml
appveyor.yml
package-lock.json
docs
run